@import "constants/colors.scss";

.bpw-container {
  li {
    width: 50%;

    .menuItem {
      background: $color_green;
      color: $color_white;
      border-radius: 0;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      padding: 8px 2px 4px;
      border: none;
      border-bottom: 3px solid $color_green;

      &:hover {
        color: $color_white;
        border: none;
        border-bottom: 3px solid $color_medium_grey;
        opacity: 0.9;
      }

      &.active {
        border-bottom: 3px solid $color_medium_grey;
        font-weight: 400;
      }
    }
  }
}
