@import "constants/colors.scss";

.bpw-container {
  text-align: center;

  > p {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    background: $color_grey;
    padding: 6px 10px 4px;
    color: $color_light_black;
    font-size: 14px;
  }

  canvas {
    margin-top: 40px;
    cursor: pointer;
  }

  .btnGroup {
    margin-top: 20px;

    > button {
      height: 35px;
      margin: 0 25px;
      padding: 0 38px !important;
    }
  }
}
