$color_green: #5cbd6d;
$color_grey: #d8dcde;
$color_medium_grey: #888888;
$color_light_grey: #fdfdfd;
$color_white: #ffffff;
$color_black: #000000;
$border_color: #eeeeee;
$text_color: #505050;
$error_color: #e74444;
$color_light_black: #2f3941;
$color_blue:  #039be5;
$color_medium_black: #212429;
