@import "constants/colors.scss";

.bpw-container {
  display: block;

  .form {
    .formField {
      margin-bottom: 20px;

      label {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: $color_light_black;
      }

      a {
        color: #2d7cc2;
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
        float: right;
      }
    }

    .submit {
      padding-top: 10px;
      text-align: center;
    }
  }

  .errorText {
    font-size: 15px;
    color: $error_color;
    text-align: center;
  }
}
