@import "constants/colors.scss";

.blockparty-wallet-app {
  width: 25rem;
  height: 550px;
  position: absolute;
  right: 30px;
  bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 6px transparentize($color_black, 0.8);
  background: $color_light_grey;
  overflow: hidden;
  transition: 0.5s;

  &.min {
    height: 61px;
    border-radius: 10px 10px 0 0;
  }
}
